@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	font-family: lato;
	box-sizing: border-box;
}
body{
	background: url("img/back-wallpaper.jpg") no-repeat center fixed;
	background-size: cover;
}
.img-responsive{	
	max-width: 100%;
	height: 100%;
	display: block;	
}
.container-fluid{
	width: 100%;
	height: auto;	
}
.my-box{
	width: 350px;
	height: 300px;
	background-color:#0FF;
	margin: 30px auto;
	z-index:1;
	position: relative;
	transition: all 0.5s;
	overflow: hidden;
	border-radius: 50px 0px 50px 0px;
	cursor: pointer;
}
.my-box-copy{
	width:350px;
	height: 300px;
	position:absolute;
	z-index:2;
	left: 350px;
	background-color:rgba(255,166,0,0.2);
	transition: all 0.5s;		
}
.my-box-copy2{
	width:350px;
	height: 300px;
	position:absolute;
	z-index:2;
	left: -350px;
	background-color:rgba(232,255,0,0.2);
	transition: all 0.5s;		
}
.my-box:hover .my-box-copy{
	left:175px;
}
.my-box:hover .my-box-copy2{
	left:-175px;
}
.my-box:hover{
border-radius: 0px 50px 0px 50px;	
}
.my-box img{
	transition: all 0.5s;
}
.my-box:hover img{
	transform:scale(1.5);	
}
.my-box-copy2 h1{
	text-align: right;
	line-height: 300px;
	font-size: 25px;
	animation: text-1 3s infinite;
}
.my-box-copy h1{
	line-height: 300px;
	animation: text-2 3s infinite;
}
@keyframes text-1{
	0%{
		font-size: 25px;
		opacity: 0;
	}
	50%{
		text-shadow: 2px 2px 6px #523698;
		font-size: 40px;
		opacity: 1;
	}
	100%{
		font-size: 25px;
		opacity: 0;
	}
}
@keyframes text-2{
	0%{
		font-size: 25px;
		opacity: 1;
	}
	50%{
		text-shadow: 2px 2px 6px #789987;
		font-size: 40px;
		opacity: 0;
	}
	100%{
		font-size: 25px;
		opacity: 1;
	}
}

/*    Second Images Hover Effects Using in CSS3     */

.my-box-sub1{
	width: 350px;
	height: 300px;
	background-color:#0FF;
	margin: 30px auto;
	z-index:1;
	position: relative;
	transition: all 0.5s;
	overflow: hidden;
	cursor: pointer;
}
.my-box-sub1-copy{
	width:350px;
	height: 50px;
	position:absolute;
	z-index:2;
	left: 350px;
	background-color:rgba(255,174,0,0.3);
	transition: all 0.5s;
}
.second-fix1{
	left: 500px;
	top: 50px;
	background-color:rgba(137,255,0,0.3);
}
.second-fix2{
	left: 750px;
	top: 100px;
	background-color:rgba(0,255,163,0.3);
}
.my-box-sub1:hover .my-box-sub1-copy{
	left: 0;
}
.my-box-sub1-copy1{
	width:350px;
	height: 50px;
	position:absolute;
	z-index:2;
	top: 150px;
	left: -350px;
	background-color:rgba(240,0,255,0.3);
	transition: all 0.5s;
}
.second-fix3{
	left: -550px;
	top: 200px;
	background-color:rgba(255,0,47,0.3);
}
.second-fix4{
	left: -750px;
	top: 250px;
	background-color:rgba(73,0,255,0.3);
}
.my-box-sub1:hover .my-box-sub1-copy1{
	left: 0;
}
.my-box-sub1-copy h2{
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 25px;
	transition: all 2s;
	animation: two 1.5s infinite ease-in-out;
}
.my-box-sub1-copy1 h2{
	text-align: center;
	line-height: 50px;
	color: white;
	animation: two-1 1.5s infinite ease-in-out;
	font-size: 35px;
}
.my-box-sub1 img{
	filter: grayscale(25);
}
.my-box-sub1:hover img{
	filter: grayscale(0);
}
@keyframes two{
	0%{
		font-size: 25px;
		color: orange;
	}
	50%{
		font-size: 35px;
	}
	100%{
		font-size: 25px;
		color: orange;
	}
}
@keyframes two-1{
	0%{
		font-size: 35px;
		color: yellow;
	}
	50%{
		font-size: 25px;
	}
	100%{
		font-size: 35px;
		color: yellow;
	}
}

/*    3 Images Hover Effects Using in CSS3     */

.my-box-sub2{
	width: 350px;
	height: 300px;
	background-color: #ACEFF3;
	margin: 30px auto;
	z-index:1;
	position: relative;
	transition: all 0.5s;
	cursor: pointer;
	overflow: hidden;
	border-radius: 20px;
	text-align: center;
	text-shadow: 2px 2px 8px #741236;
}
.my-box-sub2-copy{
	width:50px;
	height: 50px;
	position:absolute;
	z-index:2;
	border-radius: 50%;
	bottom: 0;
	left: -50px;
	background-color:rgba(1,216,251,0.4);
	transition: all 0.5s;
	
}
.my-box-sub2-copy2{
	width:50px;
	height: 50px;
	position:absolute;
	z-index:2;
	border-radius: 50%;
	right: -50px;
	top: 0px;
	background-color:rgba(65,252,139,0.4);
	transition: all 0.5s;
}
.my-box-sub2:hover .my-box-sub2-copy{
	width: 100px;
	height: 100px;
}
.my-box-sub2:hover .my-box-sub2-copy2{
	width: 100px;
	height: 100px;
}
.fix-1{
	bottom: 100px;
}
.fix-2{
	bottom: 200px;
	animation: three 2s infinite ease-in-out;
}
.fix-3{
	top: 100px;
}
.fix-4{
	top: 200px;
	animation: three 2s infinite ease-in-out;
}
.fix-5{	
	top: -50px;
	left: 0px;
	background-color: rgba(119,255,11,0.4);
	
}
.fix-6{	
	top: -50px;
	left: 75px;
	background-color: rgba(119,255,11,0.4);
}
.fix-7{	
	top: -50px;
	left: 175px;
	background-color: rgba(119,255,11,0.4);
}
.fix-7-1{	
	top: -50px;
	left: 250px;
	background-color: rgba(119,255,11,0.4);
}
.fix-8{	
	bottom: -50px;
	left: 250px;
	background-color: rgba(153,0,255,0.4);
}
.fix-9{	
	bottom: -50px;
	left: 175px;
	background-color: rgba(153,0,255,0.4);
}
.fix-10{	
	bottom: -50px;
	left: 75px;
	background-color: rgba(153,0,255,0.4);
}
.fix-11{	
	bottom: -50px;
	left: 0px;
	background-color: rgba(153,0,255,0.4);
}
.my-box-sub2 img{
	transition: all 0.5s ease-in-out;
}
.my-box-sub2:hover img{
	transform: scale(1.4);
	filter: brightness(1.2);
	
}
@keyframes three{
	0%{
		width: 50px;
	}
	50%{
		width: 100px;
		height: 100px;
	}
	100%{
		width: 50px;
	}
}

/*    4 Images Hover Effects Using in CSS3     */

.my-box-sub3{
	width: 350px;
	height: 300px;
	background-color:#0FF;
	margin: 30px auto;
	z-index:1;
	position: relative;
	transition: all 0.5s;
	cursor: pointer;
	overflow: hidden;
	border-radius: 20px;
}
.my-box-sub3-copy{
	width:350px;
	height: 300px;
	position:absolute;
	z-index:2;
	left: 350px;
	transform: translateX(-50%);
	background-color:rgba(255,71,0,0.5);
	transition: all 0.5s;
}
.my-box-sub3-copy1{
	width:350px;
	height: 300px;
	position:absolute;
	z-index:2;
	left: -0px;
	transform: translateX(-50%);
	background-color:rgba(255,118,0,0.6);
	transition: all 0.5s;
}
.my-box-sub3-copy2{
	width:350px;
	height: 300px;
	position:absolute;
	z-index:2;
	top: -300px;
	left: 175px;
	transform: translateX(-50%);
	background-color:rgba(2,255,109,0.4);
	transition: all 0.5s;
	animation: four1 2s infinite ease-in-out;
}
.my-box-sub3-copy3{
	width:350px;
	height: 300px;
	position:absolute;
	z-index:2;
	bottom: -300px;
	left: 175px;
	transform: translateX(-50%);
	background-color:rgba(5,255,196,0.4);
	transition: all 0.5s;
	animation: four 2s infinite ease-in-out;
}
.my-box-sub3:hover .my-box-sub3-copy{
	transform: translateX(0%);
}
.my-box-sub3:hover .my-box-sub3-copy1{
	left: -175px;
}
.my-box-sub3:hover .my-box-sub3-copy2{
	top: -150px;
	border-bottom: 2px solid #FFF500;
}
.my-box-sub3:hover .my-box-sub3-copy3{
	bottom: -152px;
	border-bottom: 2px solid #FFF500;
}
@keyframes four{
	0%{
		background-color:rgba(2,255,109,0.4);
	}
	50%{
		background-color:rgba(2,255,109,0.0);
	}
	100%{
		background-color:rgba(2,255,109,0.4);
	}
}@keyframes four1{
	0%{
		background-color:rgba(2,255,109,0.0);
	}
	50%{
		background-color:rgba(2,255,109,0.3);
	}
	100%{
		background-color:rgba(2,255,109,0.0);
	}
}
.my-box-sub3 img{
	transition: all 0.5s ease-in-out;
}
.my-box-sub3:hover img{
	transform: scale(1.2);
	filter: contrast(2.5);
}

/*    5 Images Hover Effects Using in CSS3     */

.main5{
	width: 350px;
	height: 300px;
	background-color:rgba(0,0,0,1.00);
	margin: 30px auto;
	z-index:1;
	position: relative;
	transition: all 0.5s;
	cursor: pointer;
	overflow: hidden;
}
.main5-copy{
	width:350px;
	height: 600px;
	position:absolute;
	z-index:2;
	left: 400px;
	background-color:rgba(229,0,192,0.4);
	transition: all 0.5s;
	border-radius: 0% 100% 0% 100%;
	transform: rotate(50deg);
	animation: five 2s infinite ease-in-out;
}
.main5-copy1{
	width:350px;
	height: 600px;
	position:absolute;
	z-index:2;
	right: 400px;
	background-color:rgba(255,0,110,0.2);
	transition: all 0.5s;
	border-radius: 100% 0% 100% 0%;
	transform: rotate(50deg);
	animation: five1 2s infinite ease-in-out;
}
.main5:hover .main5-copy{
	transform: translateX(-50%);
}
.main5:hover .main5-copy1{
	transform: translateX(50%);
}
.main5:hover{
	border-radius: 25px;
}
.main5 img{
	transition: all 0.9s ease-in-out;
}
.main5:hover img{
	filter: sepia(45);
	transform: scale(-1.5);
}
@keyframes five{
	0%{
		background-color:rgba(229,0,192,0.3);
	}
	25%{
		box-shadow: 0px 0px 10px 10px #FFFFFF;
		background-color:rgba(229,0,192,0.6);
	}
	50%{
		background-color:rgba(229,0,192,0.7);
	}
	100%{
		background-color:rgba(229,0,192,0.3);
	}
}
@keyframes five1{
	0%{
		background-color:rgba(255,0,110,0.2);
		box-shadow: 0px 0px 10px 10px #FFFFFF;
	}
	25%{
		
		background-color:rgba(255,0,110,0.6);
		box-shadow: 0px 0px 5px 5px #FFFFFF;
	}
	50%{
		background-color:rgba(255,0,110,0.7);
		box-shadow: 0px 0px 5px 5px #FFFFFF;
	}
	100%{
		background-color:rgba(255,0,110,0.2);
		box-shadow: 0px 0px 10px 10px #FFFFFF;
	}
}

/*    6 Images Hover Effects Using in CSS3     */

.main6{
	width: 350px;
	height: 300px;
	background-color:#2C7F18;
	margin: 30px auto;
	z-index:1;
	position: relative;
	transition: all 0.5s;
	cursor: pointer;
	overflow: hidden;
}
.main6-copy{
	width:75px;
	height: 75px;
	position:absolute;
	z-index:2;
	border-radius: 50%;
	left: 0px;
	top: -100px;
	background-color: #FF0004;
	transition: all 0.5s;
}
.fix6-1{
	left: 300px;
	top: -100px;
}
.main6:hover .main6-copy{
	top: 250px;
	width: 50px;
	height: 50px;
	animation: six 1.8s infinite ease-in;
}
.main6:hover .fix6-1{
	top: 250px;
	width: 50px;
	height: 50px;
	animation: six1 1.8s infinite ease-in;
}
@keyframes six{
	0%{
		left: 0px;
		top: -100px;
	}
	50%{
		top: 250px;
		animation-timing-function: ease-out;
		box-shadow: 0px 0px 10px 12px #FFFFFF;
		background-color: rgba(255,0,118,1.00);
	}
	100%{
		left: 0px;
		top: -100px;
	}
}
@keyframes six1{
	0%{
		left: 300px;
	top: -100px;
	}
	50%{
		top: 250px;
		animation-timing-function: ease-out;
		box-shadow: 0px 0px 10px 12px #FFFFFF;
		background-color: rgba(255,0,118,1.00);
	}
	100%{
		left: 300px;
	top: -100px;
	}
}
.main6-copy1{
	width:450px;
	height: 400px;
	position:absolute;
	z-index:2;
	border-radius: 50%;
	left: 400px;
	top: -50px;
	background-color: rgba(255,174,0,0.2);
	transition: all 0.5s;
	line-height: 400px;
	color: white;
	
}
.main6:hover .main6-copy1{
	left: 150px;
	animation: six3 2s infinite ease-in-out;
}
@keyframes six3{
	0%{
		background-color: rgba(255,174,0,0.2)
	}
	25%{
		background-color: rgba(255,174,0,0.3)
	}
	50%{
		background-color: rgba(255,174,0,0.4);
		box-shadow: 0px 0px 6px 7px #963258;
	}
	75%{
		box-shadow: 0px 0px 6px 7px #963258; 
		background-color: rgba(255,174,0,0.5);
	}
	100%{
		background-color: rgba(255,174,0,0.2)
	}
}
.main6:hover img{
	transform: skewX(250);
}

/*    7 Images Hover Effects Using in CSS3     */

.main7{
	width: 350px;
	height: 300px;
	background-color:#2C7F18;
	margin: 30px auto;
	z-index:1;
	position: relative;
	transition: all 0.5s;
	cursor: pointer;
	overflow: hidden;
	border-radius: 20px;
}
.main7-copy{
	width: 350px;
	height: 300px;
	position:absolute;
	border-radius: 50% 0% 0% 50%;
	z-index:2;
	left: 350px;
	background-color: rgba(0,255,163,0.4);
	transition: all 0.5s;
	animation: seven1 2s infinite ease-in;
}
.main7-copy1{
	width: 350px;
	height: 300px;
	position:absolute;
	border-radius: 0% 50% 50% 0%;
	z-index:2;
	left: -350px;
	background:linear-gradient(rgba(255,163,0,0.4),rgba( 255,201,1,0.5));
	transition: all 0.5s;
	animation: seven 2s infinite ease-in;
}
.main7:hover .main7-copy{
	left: 100px;
}
.main7:hover .main7-copy1{
	left: -100px;
}
.main7 img{
	transition: all 0.5s ease-in-out;
}
.main7:hover img{
	transform: scale(1.2);
	filter: brightness(2.5);
}
@keyframes seven{
	0%{
		background-color: rgba(205,183,183,0.0);
	}
	50%{
		background-color: rgba(205,183,183,0.5);
		transform: rotate(30deg);
		box-shadow: 0px 0px 5px 5px #456654;
	}
	100%{
		background-color: rgba(205,183,183,0.0);
	}
}
@keyframes seven1{
	0%{
		
	}
	50%{
		background-color: rgba(83,98,51,0.5);
		transform: rotate(30deg);
		box-shadow: 0px 0px 5px 5px #456654;
	}
	100%{
		
	}
}

/*    8 Images Hover Effects Using in CSS3     */

.main8{
	width: 350px;
	height: 300px;
	background-color:#2C7F18;
	margin: 30px auto;
	z-index:1;
	position: relative;
	transition: all 0.5s;
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
}
.main8-copy{
	width: 350px;
	height: 300px;
	position:absolute;
	z-index:2;
	left: 350px;
	background-color: rgba(0,255,163,0.4);
	transition: all 0.5s;
}
.main8-box{
	width: 130px;
	height: 50px;
	border-radius: 20px;
	background-color: transparent;
	margin: 130px 125px;
	text-align: center;
	line-height: 50px;
	animation: eight 2s infinite ease-in-out;
}
.main8-copy1{
	width: 350px;
	height: 300px;
	position:absolute;
	z-index:2;
	left: -350px;
	background-color: rgba(97,255,0,0.5);
	transition: all 0.5s;
}
.main8:hover .main8-copy{
	left: 0;
}
.main8:hover .main8-copy1{
	left: 50px;
}
.main8 img{
	transition: all 0.5s ease-in-out;
}
.main8:hover img{
	filter: contrast(2.5);
}
@keyframes eight{
	0%{
		background-color: transparent;
	}
	50%{
		background-color: black;
		border: 2px solid white;
		box-shadow: 0px 0px 8px 9px #951753;
		color: white;
	}
	100%{
		background-color: transparent;
	}
}

/*    9 Images Hover Effects Using in CSS3     */

.main9{
	width: 350px;
	height: 300px;
	background-color:#2C7F18;
	margin: 30px auto;
	z-index:1;
	position: relative;
	transition: all 0.5s;
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
}
.main9-copy{
	width: 600px;
	height: 700px;
	position:absolute;
	z-index:2;
	transform: translateX(50%) rotate(40deg);
	background-color: rgba(255,0,63,0.4);
	transition: all 0.5s;
	top: -100px;
	animation: nine 3s infinite ease-in-out;
}
.main9-copy1{
	width: 350px;
	height: 300px;
	position:absolute;
	z-index:2;
	background-color: rgba(255,0,23,0.5);
	transform:  rotate(35deg);
	transition: all 0.5s;
	top: -300px;
	animation: nine 3s infinite ease-in-out;
}
.main9:hover .main9-copy{
	transform: translatex(-30%) rotate(50deg);
}
.main9:hover .main9-copy1{
	top: -250px;
	transform:  rotate(360deg);
}
@keyframes nine{
	0%{
		background-color: rgba(255,0,63,0.4);
	}
	20%{
		background-color: rgba(255,174,0,0.4);
	}
	40%{
		background-color: rgba(216,255,0,0.4);
	}
	60%{
		background-color: rgba(0,255,44,0.4);
	}
	80%{
		background-color: rgba(0,243,255,0.4);
	}
	100%{
		background-color: rgba(255,0,63,0.4);
	}
}
.main9 img{
	transition: all 0.5s ;
	opacity: 0.5;
}
.main9:hover img{
	opacity: 1;
	filter: brightness(2);
}

/*    10 Images Hover Effects Using in CSS3     */

.main10{
	width: 350px;
	height: 300px;
	background-color:#2C7F18;
	margin: 30px auto;
	z-index:1;
	position: relative;
	transition: all 0.5s;
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
}
.main10-copy{
	width: 350px;
	height: 300px;
	position:absolute;
	z-index:2;
	background-color: rgba(255,0,63,0.4);
	transition: all 0.5s;
	top: -300px;
}
.main10-copy article{
	padding: 20px;
	text-align: center;
}
.main10-copy article h1{
	animation: ten 2s infinite ease-in-out;
	color: rgba(255,79,0,1.00);
}
.main10-box{
	width: 250px;
	height: 150px;
	background-color: transparent;
	border: 2px solid rgba(105,255,0,1.00);
	margin: 25px auto;
	text-align: center;
	line-height: 150px;
	color: #FF0057;
	animation: ten1 2s infinite ease-in-out;
}
.main10:hover .main10-copy{
	top: 0px;
}
@keyframes ten{
	0%{
		color: rgba(255,79,0,1.00);
	}
	50%{
		color: rgba(255,206,0,1.00);
		text-shadow: 2px 2px 8px #524136;
	}
	100%{
		color: rgba(255,79,0,1.00);
	}
}
@keyframes ten1{
	0%{
		color: #FF0057;	
	}
	20%{
		color: #000000;
	}
	40%{
		border: none;
		color: #00D3FF;
	}
	60%{
		color: #FF00E5;
	}
	80%{
		border: none;
		color: #D8FF00;
	}
	100%{
		color: #FF0057;
	}
}